<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="./Category/_Header.cshtml" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <partial name="./Category/_Navbar.cshtml" />
        <partial name="./Category/_Sidebar.cshtml" />
        @RenderBody()
        <partial name="./Category/_Footer.cshtml" />
    </div>
    <partial name="./Category/Footerincludes.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
